## 1. Tiến hành hiểu dữ liệu từ chuyên gia ##

In [2]:
import pandas as pd
# Đọc tệp CSV
file_path = r"C:\Users\Admin\Documents\207CT28171\heart_disease_dataset.csv"
df = pd.read_csv(file_path)

# Hiển thị thông tin tổng quan về dữ liệu
print(df.info())
print(df.head())  # Hiển thị 5 dòng đầu tiên của tập dữ liệu

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       295 non-null    float64
 1   sex       295 non-null    object
 2   cp        292 non-null    object
 3   trestbps  295 non-null    float64
 4   chol      293 non-null    float64
 5   fbs       295 non-null    object
 6   restecg   295 non-null    float64
 7   thalach   291 non-null    float64
 8   exang     295 non-null    float64
 9   oldpeak   295 non-null    float64
 10  slope     295 non-null    float64
 11  ca        291 non-null    float64
 12  thal      295 non-null    float64
 13  state     293 non-null    float64
dtypes: float64(11), object(3)
memory usage: 33.3+ KB
None
    age sex   cp  trestbps   chol  fbs  restecg  thalach  exang  oldpeak  \
0  63.0   M  tap     145.0  233.0  yes      2.0    150.0    0.0      2.3
1  67.0   M  asp     160.0  286.0   no      2.0    108.0    1.0      1.5
2  67.0   M  asp     120.0  229.0   no      2.0    129.0    1.0      2.6
3  37.0   M  nap     130.0  250.0   no      0.0    187.0    0.0      3.5
4  41.0   F  aap     130.0  204.0   no      2.0    172.0    0.0      1.4

   slope   ca  thal  state
0    3.0  0.0   6.0    0.0
1    2.0  3.0   3.0    2.0
2    2.0  2.0   7.0    1.0
3    3.0  0.0   3.0    0.0
4    1.0  0.0   3.0    0.0

## Tiến hành tải dữ liệu vào chương trình ứng dụng Python và giải quyết vấn đề 
“Missing header in the csv file”

In [6]:
# Đường dẫn đến file CSV
file_path = r"C:\Users\Admin\Documents\207CT28171\heart_disease_dataset.csv"

# Đọc dữ liệu từ tệp CSV, giả định rằng tệp không có header
# Chỉ định tên cột mới nếu cần
column_names = ["Age", "Sex", "ChestPainType", "RestingBP", "Cholesterol", "FastingBS", "RestingECG", "MaxHR", "ExerciseAngina", "Oldpeak", "ST_Slope", "HeartDisease"]

df = pd.read_csv(file_path, header=None, names=column_names)

# Hiển thị 5 dòng đầu tiên để kiểm tra
df.head()

         Age       Sex ChestPainType RestingBP Cholesterol FastingBS  \
age sex   cp  trestbps          chol       fbs     restecg   thalach
63  M    tap       145           233       yes           2       150
67  M    asp       160           286        no           2       108
    M    asp       120           229        no           2       129
37  M    nap       130           250        no           0       187

        RestingECG    MaxHR ExerciseAngina Oldpeak ST_Slope HeartDisease
age sex      exang  oldpeak          slope      ca     thal        state
63  M            0      2.3              3       0        6            0
67  M            1      1.5              2       3        3            2
    M            1      2.6              2       2        7            1
37  M            0      3.5              3       0        3            0

##  Xử lý vấn đề một cột lưu hỗn hợp nhiều dữ liệu, ở đây là cột “Name” chứa bao gồm “Firstname” và “Lastname”, giải pháp là ta sẽ tách ra làm 2 cột

In [11]:
import pandas as pd

# Đường dẫn đến file CSV
file_path = r"C:\Users\Admin\Documents\207CT28171\heart_disease_dataset.csv"

# Đọc dữ liệu từ tệp CSV, giả định rằng tệp không có header
# Chỉ định tên cột mới nếu cần
column_names = ["Name", "Age", "Sex", "ChestPainType", "RestingBP", "Cholesterol", "FastingBS", "RestingECG", "MaxHR", "ExerciseAngina", "Oldpeak", "ST_Slope", "HeartDisease"]

df = pd.read_csv(file_path, header=None, names=column_names)

# Chuyển cột "Name" sang kiểu chuỗi trước khi tách
df['Name'] = df['Name'].astype(str).fillna('Unknown')

# Xử lý trường hợp thiếu họ hoặc tên
df[['Firstname', 'Lastname']] = df['Name'].apply(lambda x: pd.Series(x.split(' ', 1) if ' ' in x else [x, 'Unknown']))

# Xóa cột gốc "Name"
df.drop(columns=['Name'], inplace=True)

# Hiển thị 5 dòng đầu tiên để kiểm tra
df.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease,Firstname,Lastname
age,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,state,sex,Unknown
63,tap,145,233,yes,2,150,0,2.3,3,0,6,0,M,Unknown
67,asp,160,286,no,2,108,1,1.5,2,3,3,2,M,Unknown
67,asp,120,229,no,2,129,1,2.6,2,2,7,1,M,Unknown
37,nap,130,250,no,0,187,0,3.5,3,0,3,0,M,Unknown